DATABASE_URL="postgres://postgres:postgres@localhost:5432/kasir?sslmode=disable"
PORT=8080
JWT_SECRET="secret"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="password123"

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=verifikasikedaissh@gmail.com
SMTP_PASS="your_app_password_here"
SMTP_FROM="Verifikasi Kedai SSH <verifikasi@kedaissh.com>"

# REDIS
REDIS_URL="localhost:6379"
REDIS_PASSWORD=""
